.Button {
  margin: 10px;
  padding: 3px;
  width: 125px;
  border: 2px solid #F1D441;
  background: none;
  color: #f3da4a;
  font-size: 1.2em;
  letter-spacing: 1px;
  transition: box-shadow 0.2s ease-in-out;
}

.Button:focus {
  outline: 0;
}

.Button:hover {
  box-shadow: 0 0 8px;
}

.activevehicles, 
.activepeople,
.activeplanets,
.activefavorites {
  box-shadow: 0 0 8px;
  border: 2px solid #AD1F1E;
  color: #AD1F1E;
}
