.Button {
  width: 125px;
  margin: 10px;
  padding: 5px;
  font-size: 1.2em;
  border: 2px solid yellow;
  background: none;
  color: yellow;
}

.activevehicles, 
.activepeople,
.activeplanets,
.activefavorites {
  background: red;
}
