@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

.CardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto 100px auto;
  width: 80%;
  min-height: 500px;
  background: rgba(253,253,255, 0.2);
}

.message {
  margin: 25px auto;
  text-align: center;
  letter-spacing: 2px;
  color: #F1D441;
  font-family: 'Fjalla One', sans-serif;
}