.App {
  height: 100%;
  margin: 0;
  padding: 0;
}

.button-container {
  display: flex;
  width: 80%;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto; 
}

#num {
  color: #AD1F1E;
}

.error-status {
  color: #AD1F1E;
}

.error-div {
  background: #000;
  height: 100vh;
}